* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.app{
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding: 10px;
      background: url("./assets/106133.jpg") no-repeat center center fixed;
     background-size: cover; 
     min-height: 100vh;
     background-color: var(--dark-bg-color);

}


.container{
    width: 100%;
  max-width: 100%; /* desktop max width */
  overflow-x: hidden;
  padding: 0px 0px;
  background-color:  #2b3945ff;

}

.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem 2rem;
    font-family: var(--element-bg);
    position: sticky;
    background-color: #4d4a4a;

}


body.dark-mode {
  --bg-color: hsl(207, 26%, 17%);        
  --element-bg: #2b3945ff;               
  --text-color: hsl(0, 0%, 100%);        
  --input-bg: hsl(0, 0%, 52%);           
}

body.light-mode {
  --bg-color: hsl(0, 0%, 98%);           
  --element-bg: hsl(0, 0%, 100%);        
  --text-color: hsl(200, 15%, 8%);       
  --input-bg: hsl(0, 0%, 52%);          
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease; /* smooth transition when toggling */
}

.header,
.country-card,
.search-bar,
.filter-container select {
  background-color: var(--element-bg);
  color: var(--text-color);
}


.search-bar input,
.filter-container select {
  background-color: var(--input-bg);
  color: var(--text-color);
}
.country-list {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  /*  width: 100%;*/
    
    box-sizing: border-box;
}

.country-card {
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    gap:0; 
    text-align: center;
    /*width: 250px;*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    transform: translateY(20px);
    transition: transform 0.3s ease;
     background-color: var(--element-bg);
    color: var(--text-color);
    flex: 1 1 250px;
    max-width: 300px;
    min-width: 200px;
    box-sizing: border-box;
}
.country-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px, 12px rgba (0,0,0,0.2);
}

 .flag {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    transition:transform0.3s ease;
}
.country-card:hover.flag{
    transform: scale(1.05s);
    cursor: pointer;
} 

.info{
    margin-top: 5px;
    padding: 10px;
}
.info h2{
    font-size: 1rem;
    margin: 10px 0;
    color: var(--text-color);
    margin-bottom: 4px;
}
.info p{
    font-size: 0.8rem;
    margin :2px 0;
    color:var(--text-color);
}

.controls{
       display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 30px;
      gap:1rem;

}


.search-bar {
    margin: 20px 0;
    display: flex;
    justify-content: start;
    background-color: rgb(17, 17, 19);
    max-width: 100%;
    box-sizing :border-box;
    background-color: var(--element-bg);
    
}

.search-bar input {
    width: 150px;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(14, 13, 13);
    transition : width 0.3s ease;
}

.search-bar input:focus{
    outline: none;
    width: 200px;
    background-color: rgb(218, 218, 208);
}

.search-bar input::placeholder {
  color: var(--text-color);
  opacity: 0.7; 
}
.filter-container select {

      padding: 10px 25px;
      border:none;
      border-radius: 5px;
      font-size: small;
      cursor: pointer;
      transition : width 0.3s ease;
}


.filter-container select:focus{
    outline: none;
    background-color: rgb(218, 218, 208);
    width: 250px;
 
}
/* Media Queries: Tablet */
@media (max-width:1024px){
    .controls{
        flex-direction: row;
        justify-content: space-between;
        gap:15px;
    }
    .search-bar{
        max-width: 200px;
    }
      .filter-container select {
    max-width: 200px;
  }
  .country-card{
     flex: 1 1 180px; 
     max-width: 200px;
     min-width: 150px;
  }
}



/* Mobile: stack vertically only if needed */
@media (max-width: 768px) {
  .controls {
    flex-direction: column; /* stack on very small screens */
    align-items: stretch;
    gap: 10px;
  }

  .search-bar,
  .filter-container select {
    width: 100%;
  }
    .country-card {
        flex: 1 1 120px; 
        max-width: 120px;
        min-width: 100px;
    
  }
  .flag{
    height: 100px;
  }
  .country-list{
    justify-content: center;
  }
}